:root {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px; /* Ensures a standard baseline, not inherited browser defaults */
  background-color: #050505;
}

* {
  box-sizing: inherit;
}